$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_flex.scss";
@import "_bootstrap-override.scss";

body {
  font-family: 'Avenir', 'Nunito', sans-serif;
  margin-top: 51px;
  background: url(/images/hero-image.png) no-repeat top center fixed;
  background-size: cover;
    padding: 0;
    height: 100%;
    width: 100%;
}

nav {
  background: rgb(71,93,115);
  box-shadow: 0 4px 2px rgba(0,0,0,.2);
} 

h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
  margin: 0;
}

#hero {
  height: 555px; 
  border-bottom: 10px solid rgb(245,184,41); 

  .hero-info {
    padding-top: 80px;

    .social {
      padding: 15px 0 27px 0;

      img {
        padding-right: 5px;
      }
    }

    .btn-start {
      font-size: 20px;
      letter-spacing: 2px;
      color: white;
      border-radius: 6px;
      background: rgba(248,185,0,.5);
      border: 2px solid rgba(248,185,0,.6);
    }
  }
  
}

#mission {
  background: rgb(99,117,136);
  padding: 30px 0;

  .bracket {
    width: 30px;

    &:first-of-type {
      transform: scaleX(-1);
    }
  }

  h4 {
    padding: 10px 20px 0 20px;
    line-height: 26px;
  }
}

#story {
  // height: 675px; 
  background: rgb(71,93,115);
  padding: 40px 0;

  .box {
    height: 297px;

    &.text {
      position: relative;
      padding: 20px 30px;
      background: #444;

      h5 {
        padding-top: 15px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

#testimonials-plans {
  height: 1230px; 
  background: rgb(235,237,246); 
  border-bottom: 1px solid rgb(221,221,221);
}

#faq-contact {
  height: 1520px; 
  background: url('/images/faq-bg.png');
}

#map {
  height: 460px; 
  background: rgb(71,93,115);
  border-top: 1px solid rgb(71,93,115);
}

footer {
  height: 338px; 
  background: rgb(3,3,3);
}


.text-orange {
  color: rgb(248,185,0);
}

.text-white {
  color: white;
}

